
-- Phase 25: System Config & Payment Vault
CREATE TABLE IF NOT EXISTS system_config (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    key text UNIQUE NOT NULL,
    value text,
    description text,
    updated_at timestamp with time zone DEFAULT now()
);

-- Initial Payment Methods
INSERT INTO system_config (key, value, description)
VALUES 
('active_cashapp', '', 'CashApp account of the day'),
('active_zelle', 'tomas@trenddigital.es', 'Zelle account of the day'),
('active_usdt_trc20', 'T...wallet_address', 'USDT TRC20 address'),
('active_wise', 'wise@trenddigital.es', 'Wise account')
ON CONFLICT (key) DO NOTHING;

-- Policies for Admin Access
ALTER TABLE system_config ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Admin
Manage
Config\ ON system_config 
FOR ALL USING (auth.role() = 'authenticated');

